<!DOCTYPE html>
{% load static %}
<html lang="ptbr">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>
            LiberAction {% if title %}| {{ title }}{% endif %}
        </title>
    
        <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>

    <body>

        <div class="header-alt">
            <img src="../static/images/logo.png" alt="">
        </div>

        {% block content %}{% endblock content %}
        <script src="{% static 'js/script.js' %}"></script>    
    </body>
</html>