<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiberAction</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>    
            <div class="container1">
                <img src="logo.png">
                <input type="text" placeholder="Buscar produto, serviço e muito mais!">
                
                <div>
                    <h3>Bem vindo!
                        <span><a href="login.html">Entre</a> ou <a href="cadastro.html">Cadastre-se</a></span>
                    </h3>
                </div>
                <div class="icons">
                    <img src="https://cdn-icons-png.flaticon.com/512/2/2267.png" alt="">
                    <img src="https://cdn-icons-png.flaticon.com/512/126/126510.png" alt="">
                    
                </div>
                <div class="mobile-search">
                    <div class="search-icon"></div>
                    <div class="search-input">
                        <input id="search-text" type="text" placeholder="Search">
                    </div>
                    <span class="clear"></span>
                </div>
                
            </div>    
        </div>
        <ul class="menu-container">
            <li><a href="#">Categorias</a></li> 
            <li><a href="#">Ofertas do dia</a></li>
            <li><a href="#">Aulas particulares</a></li>
            <li><a href="#">Moda Ancap</a></li>
            <li><a href="#">Anuncie Conosco</a></li>
        </ul>   
    </div>

    <div class="container-cart">
        <div class="cart-box">
            <div class="cart-items">
                <div class="cart-header">
                    <h2 class="cart selected">Carrinho(1)</h2>
                    <h2 class="cart">Favoritos</h2>
                </div>
                <div class="cart-info">
                    <div class="cart-img"></div>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h5>Cor: Preto claro <a href="">Alterar</a></h5>
                    </div>
                </div>
                <div class="cart-choice">
                    <a href="">Excluir</a>
                    <a href="">Salvar para depois</a>
                    <a href="">Comprar agora</a>
                </div>
            </div>
            <div class="cart-items">
                <div class="cart-finish">
                    <div class="cart-local">
                        <select id="">
                            <option value="">Enviar para</option>
                        </select>
                    </div>
                    <div class="cart-freight">
                        <h4>Total com Frete</h4>
                        <p>R$ 0,00</p>
                    </div>
                    <div class="hidden_pagseguro">

                        <button><form method="post" target="pagseguro"  
                            action="https://pagseguro.uol.com.br/v2/checkout/payment.html">  
                                    
                                    <!-- Campos obrigatórios -->  
                                    <input name="receiverEmail" type="hidden" value="suporte@lojamodelo.com.br">  
                                    <input name="currency" type="hidden" value="BRL">  
                            
                                    <!-- Itens do pagamento (ao menos um item é obrigatório) -->  
                                    <input name="itemId1" type="hidden" value="0001">  
                                    <input name="itemDescription1" type="hidden" value="Notebook Prata">  
                                    <input name="itemAmount1" type="hidden" value="24300.00">  
                                    <input name="itemQuantity1" type="hidden" value="1">  
                                    <input name="itemWeight1" type="hidden" value="1000">  
                                    <input name="itemId2" type="hidden" value="0002">  
                                    <input name="itemDescription2" type="hidden" value="Notebook Rosa">  
                                    <input name="itemAmount2" type="hidden" value="25600.00">  
                                    <input name="itemQuantity2" type="hidden" value="2">  
                                    <input name="itemWeight2" type="hidden" value="750">  
                            
                                    <!-- Código de referência do pagamento no seu sistema (opcional) -->  
                                    <input name="reference" type="hidden" value="REF1234">  
                                    
                                    <!-- Informações de frete (opcionais) -->  
                                    <input name="shippingType" type="hidden" value="1">  
                                    <input name="shippingAddressPostalCode" type="hidden" value="01452002">  
                                    <input name="shippingAddressStreet" type="hidden" value="Av. Brig. Faria Lima">  
                                    <input name="shippingAddressNumber" type="hidden" value="1384">  
                                    <input name="shippingAddressComplement" type="hidden" value="5o andar">  
                                    <input name="shippingAddressDistrict" type="hidden" value="Jardim Paulistano">  
                                    <input name="shippingAddressCity" type="hidden" value="Sao Paulo">  
                                    <input name="shippingAddressState" type="hidden" value="SP">  
                                    <input name="shippingAddressCountry" type="hidden" value="BRA">  
                            
                                    <!-- Dados do comprador (opcionais) -->  
                                    <input name="senderName" type="hidden" value="José Comprador">  
                                    <input name="senderAreaCode" type="hidden" value="11">  
                                    <input name="senderPhone" type="hidden" value="56273440">  
                                    <input name="senderEmail" type="hidden" value="comprador@uol.com.br">  
                            
                                    <!-- submit do form (obrigatório) -->  
                                    <button id="pagseguro__button" alt="Pague com PagSeguro" name="submit" type="submit">
                                        Continuar compra
                                    </button>  
                                    
                            </form> 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiberAction</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>    
            <div class="container1">
                <img src="logo.png">
                <input type="text" placeholder="Buscar produto, serviço e muito mais!">
                
                <div>
                    <h3>Bem vindo!
                        <span><a href="login.html">Entre</a> ou <a href="cadastro.html">Cadastre-se</a></span>
                    </h3>
                </div>
                <div class="icons">
                    <img src="https://cdn-icons-png.flaticon.com/512/2/2267.png" alt="">
                    <img src="https://cdn-icons-png.flaticon.com/512/126/126510.png" alt="">
                    
                </div>
                <div class="mobile-search">
                    <div class="search-icon"></div>
                    <div class="search-input">
                        <input id="search-text" type="text" placeholder="Search">
                    </div>
                    <span class="clear"></span>
                </div>
                
            </div>    
        </div>
        <ul class="menu-container">
            <li><a href="#">Categorias</a></li> 
            <li><a href="#">Ofertas do dia</a></li>
            <li><a href="#">Aulas particulares</a></li>
            <li><a href="#">Moda Ancap</a></li>
            <li><a href="#">Anuncie Conosco</a></li>
        </ul>   
    </div>

    <div class="container-cart">
        <div class="cart-box">
            <div class="cart-items">
                <div class="cart-header">
                    <h2 class="cart selected">Carrinho(1)</h2>
                    <h2 class="cart">Favoritos</h2>
                </div>
                <div class="cart-info">
                    <div class="cart-img"></div>
                    <div>
                        <h3>Nome do Produto</h3>
                        <h5>Cor: Preto claro <a href="">Alterar</a></h5>
                    </div>
                </div>
                <div class="cart-choice">
                    <a href="">Excluir</a>
                    <a href="">Salvar para depois</a>
                    <a href="">Comprar agora</a>
                </div>
            </div>
            <div class="cart-items">
                <div class="cart-finish">
                    <div class="cart-local">
                        <select id="">
                            <option value="">Enviar para</option>
                        </select>
                    </div>
                    <div class="cart-freight">
                        <h4>Total com Frete</h4>
                        <p>R$ 0,00</p>
                    </div>
                    <button>Continuar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

-->