{% comment %} Este é o "div" detalhado que deve aparecer caso o usuário opte por opções de cookies detalhadas no "div" compácto.
Esta janela deve sumir após o usuário ter optado por uma das opções (aceitar/rejeitar/fechar). {% endcomment %}

<div class="cookies-container">
    <button type="button" class="btn-close" aria-label="Close"></button>
    <button id="cookies_back_button" type="button" class="btn btn-primary">❮ Voltar</button>

    <h1>Consentimento de cookies:</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl pretium fusce id velit ut. Consequat semper viverra nam libero justo. Et malesuada fames ac turpis egestas integer eget. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Egestas congue quisque egestas diam. <a href="">Política de privacidade</a> {% comment %} Texto explicativo sobre cookies e link para política de privacidade. {% endcomment %}
    
    <div class="cookies-container-datail">
        
        <h2>Permite</h2>

        <div class="cookies-container-scrollbox">
            <div class="cookies-container-datail-card">
                <div style="display: flex; align-items: baseline;">
                    <button type="button" class="btn btn-primary">+</button> 
                    <h3>Desenvolver e melhorar produtos</h3>
                </div>

                <div class="cookies-container-datail-card-buttons">
                    <button type="button" class="btn btn-primary">Rejeitar</button>
                    <button type="button" class="btn btn-primary">Aceito</button>
                </div>

                <div class="cookies-container-datail-card-line"></div>
            </div>

            <div class="cookies-container-datail-card">
                <div style="display: flex; align-items: baseline;">
                    <button type="button" class="btn btn-primary">+</button> 
                    <h3>Medir o desempenho dos conteúdos</h3>
                </div>

                <div class="cookies-container-datail-card-buttons">
                    <button type="button" class="btn btn-primary">Rejeitar</button>
                    <button type="button" class="btn btn-primary">Aceito</button>
                </div>

                <div class="cookies-container-datail-card-line"></div>
            </div>

            <div class="cookies-container-datail-card">
                <div style="display: flex; align-items: baseline;">
                    <button type="button" class="btn btn-primary">+</button> 
                    <h3>Medir desempenho dos anúncios</h3>
                </div>

                <div class="cookies-container-datail-card-buttons">
                    <button type="button" class="btn btn-primary">Rejeitar</button>
                    <button type="button" class="btn btn-primary">Aceito</button>
                </div>

                <div class="cookies-container-datail-card-line"></div>
            </div>

            <div class="cookies-container-datail-card">
                <div style="display: flex; align-items: baseline;">
                    <button type="button" class="btn btn-primary">+</button> 
                    <h3>Lorem ipsum dolor sit amet consectetur adipiscing</h3>
                </div>

                <div class="cookies-container-datail-card-buttons">
                    <button type="button" class="btn btn-primary">Rejeitar</button>
                    <button type="button" class="btn btn-primary">Aceito</button>
                </div>

                <div class="cookies-container-datail-card-line"></div>
            </div>

            <div class="cookies-container-datail-card">
                <div style="display: flex; align-items: baseline;">
                    <button type="button" class="btn btn-primary">+</button> 
                    <h3>Metus vulputate eu scelerisque felis imperdiet proin</h3>
                </div>

                <div class="cookies-container-datail-card-buttons">
                    <button type="button" class="btn btn-primary">Rejeitar</button>
                    <button type="button" class="btn btn-primary">Aceito</button>
                </div>

                <div class="cookies-container-datail-card-line"></div>
            </div>
        </div>

    </div>

    <div class="cookies-container-buttons" style="margin: 5px 100px;">
        <button type="button" class="btn btn-primary">Rejeitar todos</button>
        <button type="button" class="btn btn-primary">Aceitar todos os Cookies</button>
    </div>
</div>