{% extends 'core/base_alt.html' %}
{% block content %}

<a href="{% url 'core:index' %}"></a>

<div>
    <form action="{% url 'core:create_service' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ base_form.owner }}
        <div class="container-form">
            
            <div class="cadastro-box">
                {% if base_form.errors %}
                    <ul>
                    {% for err in base_form.errors %}
                        <li>{{ err.message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if service_form.errors %}
                    <ul>
                    {% for err in service_form.errors %}
                        <li>{{ err.message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                <div class="titulo-formulario"><h2>Fale um pouco sobre o serviço que quer anunciar =D </h2></div>

                {% comment %} {{ base_form.tags }} {% endcomment %}

                <div class="tags-container">
                    
                    <div>
                    <p>As tags são úteis para que as pessoas consigam buscar seus produtos, principalmente por associações.</p>
                    </div>

                    <textarea class="description-input" name="base-description" cols="40" rows="10" required id="id_base-description"></textarea>

                    <div style="display: flex; justify-content: space-between;">
                        <div><p>Insira uma vírgula depois de cada tag:</p></div>
                        <div><p>xx/100</p></div>
                    </div>
                </div>

                <div class="single-input">
                    <input type="text" class="input" id="id_base-name" name="base-name" required>
                    <label for="id_base-name">Nome do Serviço:</label>
                </div>
                
                <div class="single-input">
                    <input type="number" class="number-input" id="id_base-price" name="base-price" required>
                    <label for="id_base-price">Preço:</label>

                    <!-- <div class="check"></div>Valor a negociar -->
                    {{ service_form.is_negotiable.label }}
                    {{ service_form.is_negotiable }}
                </div>

                <div class="single-input">
                    <textarea class="description-input" name="base-description" cols="40" rows="10" required id="id_base-description"></textarea>
                    <label for="id_base-description">Descrição do serviço:</label>
                </div>

                <label for="id_imgs">Fotos</label>
                <div class="single-input">
                    <input type="file" id="id_imgs" name="imgs" multiple required>
                </div>

                <div class="picture-container-picturebox">
                    <div class="picture-container-picturebox-add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="95%" height="95%" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                    </div>
                    
                    <div class="picture-container-picturebox-cover">
                        <div class="picture-container-picturebox-cover-imagewrapper">
                            <img src="static/images/product-10.jpg" alt="">
                        </div>
                        <p>Capa</p>
                    </div>

                    <div class="picture-container-picturebox-picture">
                        <img src="static/images/product-5.jpg" alt="">
                    </div>

                    <div class="picture-container-picturebox-picture">
                        <img src="static/images/product-8.jpg" alt="">
                    </div>

                    <div class="picture-container-picturebox-picture">
                        <img src="static/images/product-7.jpg" alt="">
                    </div>

                    <div class="picture-container-picturebox-more">
                        <div style="display: grid; grid-template-columns: repeat(3, 30%); gap: 3px;height: 98%;width: 33%;">
                        <div class="picture-container-picturebox-more-bar"></div>
                        <div class="picture-container-picturebox-more-bar"></div>
                        <div class="picture-container-picturebox-more-bar"></div>
                        </div>
                        <div class="picture-container-picturebox-more-counter"><p>+3</p></div>
                    </div>
                    
                </div>

                <div class="single-input">
                <input type="submit" value="Anunciar Agora!"></input>
                </div>

            </div>
        </div>
    
    </form>
</div>

{% endblock content %}