{% extends 'core/base.html' %}
{% block content %}

<a href="{% url 'core:index' %}"></a>

<div>
    <form action="{% url 'core:create_service' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.owner }}
        <div class="container-form">
            
            <div class="cadastro-box">
                {% if form.errors %}
                    <ul>
                    {% for err in form.errors %}
                        <li>{{ err.message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if form.errors %}
                    <ul>
                    {% for err in form.errors %}
                        <li>{{ err.message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                <div class="titulo-formulario"><h2>Fale um pouco sobre o serviço que quer anunciar =D </h2></div>
                {{ form.tags }}

                <div class="single-input">
                    <input type="text" class="input" id="id_name" name="name" required>
                    <label for="id_name">Nome do Serviço:</label>
                </div>
                
                <div class="single-input">
                    <input type="number" class="number-input" id="id_price" name="price" required>
                    <label for="id_price">Preço:</label>

                    <!-- <div class="check"></div>Valor a negociar -->
                    {{ form.is_negotiable.label }}
                    {{ form.is_negotiable }}
                </div>

                <div class="single-input">
                    <input type="text" class="description-input" id="id_description" name="description" required>
                    <label for="id_description">Descrição do serviço:</label>
                </div>

                <label for="id_imgs">Fotos</label>
                <div class="single-input">
                    <input type="file" id="id_imgs" name="imgs" multiple required>
                </div>

                <button type="submit">Anunciar Agora!</button>

            </div>
        </div>
    
    </form>
</div>

{% endblock content %}