{% extends 'core/base_alt2.html' %}
{% block content %}



<a href="{% url 'core:index' %}"></a>

<div>
    <form action="{% url 'core:create_product' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-form">
            <div class="container-form">
                <div class="cadastro-box">
                    <h2>Fale um pouco sobre o produto que quer anunciar =D </h2>
                    <div class="description-input">
                            <ul>
                                <li><a href="#">Eletrodomésticos</a></li>
                                <li><a href="#">Eletrônicos</a></li>
                                <li><a href="#">Beleza/Moda</a></li>
                                <li><a href="#">Lazer</a></li>    
                                <li><a href="#">Saúde</a></li>
                                <li><a href="#">Livros</a></li>
                                <li><a href="#">Outro:</a></li>                                  
                            </ul>
                    </div>
    
                    <div class="single-input">
                        <input type="text" class="input" id="id_base-name" name="base-name" required>
                        <label for="id_base-name">Nome do Produto</label>
                    </div>
    
                    <!--<div class="single-input">
                        <div class="check"></div>Novo
                        <div class="check"></div>Usado
                    </div>-->
    
                    <div class="single-input">
                        {{ product_form.is_new }}
                    </div>

                    <div class="single-input">
                        <p>Preço
                        <input type="number" class="number-input" id="id_base-price" name="base-price" required>
                        </p>
                        <p>Quantidade
                        <input type="number" class="number-input" id="id_base-quantity" name="base-quantity" required>
                        </p>
                    </div>
                        
                    <div>
                        <p>
                        <textarea name="base-description" cols="40" rows="10" required="" id="id_base-description"></textarea>
                        </p>   
                    </div>
    
                    <button type="submit">Anunciar Agora!</button>
    
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}