<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LiberAction</title>
    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- /CSS BOOTSTRAP -->
    <link rel="stylesheet"  href="static/css/styles.css"> 
</head>

<body>
    <header>
        <div class="container-fluid">  
            <div class="row">
                <div class="col-8">
                    <img src="logo.png" alt="">
                </div>
                <div class="col">
                    <img src="#" class="img-thumbnail">
                    <a href="#">Contato</a>
                </div>
            </div>
        </div>
    </header>

    <main>  
        <div class="container-yellow">
            <div class="container-options">
                <div class="card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="190px" height="190px" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                    </svg>
                    <p><b>Produtos</b></p>
                </div>

                <div class="container-options-text">
                    <p>Ou</p>
                </div>
                
                <div class="card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="190px" height="190px" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                        <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
                    </svg>
                    <p><b>Serviços</b></p>
                </div>
            </div>
        </div>
    </main>

</body>

<script>

    let checkGender = document.querySelectorAll('.check');
    

    checkGender[0].addEventListener('click', () => {
        checkGender[0].classList.toggle('active')  
    })
    checkGender[1].addEventListener('click', () => {
        checkGender[1].classList.toggle('active')   
    })
    checkGender[2].addEventListener('click', () => {
        checkGender[2].classList.toggle('active')   
    })

</script>

