{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        
       <!-- Banner starts -->
        <div class="banner">
            <img class="selected" src="https://images.unsplash.com/photo-1605792657660-596af9009e82?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1402&q=80" alt="">
            <img src="https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="">
            <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="">
            <div class="control">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        
        <!-- Featured Products starts  
        <div class="small-container">
            <h2 class="title">Destaques</h2>
            <div class="row">
                {% for product in base_products|slice:":4" %}
                <div class="col-4">
                    <img src="{{ product.get_first_picture.img.url }}" alt="">
                    <h4>{{ product.name }}</h4>
                    <div class="rating">
                        <i class="fa fa-star{% if not product.get_review_avg_score > 0.5 %}-o{% endif %}"></i>
                        <i class="fa fa-star{% if not product.get_review_avg_score > 1.5 %}-o{% endif %}"></i>
                        <i class="fa fa-star{% if not product.get_review_avg_score > 2.5 %}-o{% endif %}"></i>
                        <i class="fa fa-star{% if not product.get_review_avg_score > 3.5 %}-o{% endif %}"></i>
                        <i class="fa fa-star{% if not product.get_review_avg_score > 4.5 %}-o{% endif %}"></i>
                    </div>
                    <p>R${{ product.price }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        -->
        <!------------------------------->
    
      
        <!-- Featured Products starts  -->
        <div class="small-container">
            <h2 class="title">Produtos</h2>
            <div class="row">
                <div class="col-4">
                    <img src="images/product-1.jpg" alt="">
                    <h4>Produto 1</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>R$50,00</p>
                </div>
                <div class="col-4">
                    <img src="images/product-2.jpg" alt="">
                    <h4>Produto 2</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>R$50,00</p>
                </div>
                <div class="col-4">
                    <img src="images/product-3.jpg" alt="">
                    <h4>Produto 3</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>R$50,00</p>
                </div>
                <div class="col-4">
                    <img src="images/product-4.jpg" alt="">
                    <h4>Produto 4</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>R$50,00</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="images/product-9.jpg" alt="">
                    <h4>Produto 5</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                <p>R$50,00</p>
            </div>
            <div class="col-4">
                <img src="images/product-10.jpg" alt="">
                <h4>Produto 6</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$50,00</p>
            </div>
            <div class="col-4">
                <img src="images/product-11.jpg" alt="">
                <h4>Produto 7</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$50,00</p>
            </div>
            <div class="col-4">
                <img src="images/product-12.jpg" alt="">
                <h4>Produto 8</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$50,00</p>
            </div>
        </div>
    </div>
    
    <div class="small-container">
        <h2 class="title">Serviços</h2>
        <div class="row">
            <div class="col-4">
                <img src="images/product-1.jpg" alt="">
                <h4>Serviço 1</h4>
            </div>
            <div class="col-4">
                <img src="images/product-2.jpg" alt="">
                <h4>Serviço 2</h4>
            </div>
            <div class="col-4">
                <img src="images/product-3.jpg" alt="">
                <h4>Serviço 3</h4>
            </div>
            <div class="col-4">
                <img src="images/product-4.jpg" alt="">
                <h4>Serviço 4</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="images/product-9.jpg" alt="">
                <h4>Serviço 5</h4>
            </div>
            <div class="col-4">
                <img src="images/product-10.jpg" alt="">
                <h4>Serviço 6</h4>
            </div>
            <div class="col-4">
                <img src="images/product-11.jpg" alt="">
                <h4>Serviço 7</h4>
            </div>
            <div class="col-4">
                <img src="images/product-12.jpg" alt="">
                <h4>Serviço 8</h4>
            </div>
        </div>
    </div>    
    <!--------------------------------------------------------------------------------------------------------------------------------------->
    
    
    
    <!--------------------------------------   Follow Us on Social Media starts  ---------------------------------------------------------->
        <div class="follow-us">
            <div class="container-follow">
                <h3> <span>LiberAction</span> nas redes sociais</h3>
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111392.png">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png">
            </div>
        </div>
        <!--------------------------------------------------------------------------------------------------------------------------------------->
        


        <!---------------------------------------------   Reading Suggestions starts ---------------------------------------------------------->
        <div class="categories">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <img src="images/nabuco.jpg" href="https://damasdeferro.com.br/blog/joaquim-nabuco-progressista-ou-conservador/" alt="">
                        <h4>Joaquim Nabuco <br> Progressista ou Conservador?</h4>
                    </div>
                    <div class="col-3">
                        <!-- <img src="images/category-2.jpg" alt=""> -->
                        <h4>Como o Estado dificulta o <br> acesso a saúde?</h4>
                    </div>
                    <div class="col-3">
                        <!-- <img src="images/category-3.jpg" alt=""> -->
                        <h4>5 sugestões de leitura para <br> empreendedores</h4>
                    </div>
                </div> 
            </div>       
        </div>
        <!--------------------------------------------------------------------------------------------------------------------------------------->
        
        
        
        <!--------------------------------------------------------- Newsletter starts ------------------------------------------------------------> 
        <div class="newsletter">
            <div class="container-newsletter">
                <p>Quer receber nossas</p> 
                <p><span>NOVIDADES?</span></p>
                <h6>CADASTRE SEU E-MAIL E RECEBA EM PRIMEIRA MÃO TUDO SOBRE A VISTA DIREITA</h6>  
            </div>
            
            <div class="container-cadastro">
                <input type="text" placeholder="Digite seu nome">
                <input type="text" placeholder="Digite seu e-mail">
                <button>Cadastrar</button>
            </div>
        </div>
        
    <!--------------------------------------------------------------------------------------------------------------------------------------->
        
            
    <!----------------------------------------------------- Most Requested starts -----------------------------------------------------------> 
    
    <div class="categories">
        <div class="small-container">
            <h2 class="title">Mais Procurados</h2>
            <div class="row">
                <div class="col-3">
                    <img src="images/category-1.jpg" alt="">
                    <h4>Produto 1</h4>
                </div>
                <div class="col-3">
                    <img src="images/category-2.jpg" alt="">
                    <h4>Produto 2</h4>
                </div>
                <div class="col-3">
                    <img src="images/category-3.jpg" alt="">
                    <h4>Produto 3</h4>
                </div>
            </div> 
        </div>       
    </div>
    <!--------------------------------------------------------------------------------------------------------------------------------------->
    
    </div>

{% endblock content %}