<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="header-alt">
        <img src="../static/images/logo.png" alt="">
    </div>
    <div class="container-form">
        <div class="login-box">
            <h2>Login</h2>
            <div class="single-input">
                <input type="text" class="input" id="usuario" required>
                <label for="usuario">Telefone, E-mail ou usuário</label>
            </div>
            <div class="single-input">
                <input type="text" class="input" id="senha" required>
                <label for="senha">Senha</label>
            </div>
            <button>Continuar</button>
            <p>Não tem Cadastro? <a href="cadastro.html">Cadastre-se</a></p>
            <h6>Não se preocupe, nossa plataforma é 100% segura. Ao continuar com o acesso, você concorda com a nossa
                <a href="">política de privacidade</a>
            </h6> 
        </div>
    </div>
        
    </div>
    <script src="script.js"></script>
</body>
</html>