

    <div class="perfil-container">
        <div class="info-user-container">
            <div class="info-user-card">
                <label for="">Olá, bem vindo a sua conta!</label>
            </div>
            <div class="info-user-card selected">
                <label for="">Pedidos</label>
                <p>Acompanhe o envio</p>
            </div>
            <div class="info-user-card">
                <label for="">Favoritos</label>
                <p>Veja os produtos que favoritou</p>
            </div>
            <div class="info-user-card">
                <label for="">Cadastro</label>
                <p>Veja e altere seus dados, email, senha, etc</p>
            </div>
            <div class="info-user-card">
                <label for="">Endereço</label>
                <p>Veja e altere seus endereços</p>
            </div>
        </div>
        <div class="info-user-request">
            <div class="info-request-card positive">
                <div class="info-request-response">
                    <label class="positive" for="">Ebaaaa! Pedido entregue com sucesso</label>
                </div>
                <div class="info-request-details">
                    <div class="info-request-icon"></div>
                    <div class="info-request-text">
                        <p>Nome do Produto</p>
                        <p>2 Unidade(s)</p>
                    </div>
                </div>
            </div>
            <div class="info-request-card negative">
                <div class="info-request-response">
                    <label class="negative" for="">Pedido cancelado</label>
                </div>
                <div class="info-request-details">
                    <div class="info-request-icon"></div>
                    <div class="info-request-text">
                        <p>Nome do Produto</p>
                        <p>1 Unidade(s)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>