
    
<body>
    <div class="perfil-container">
        <div class="info-user-container">
            <div class="info-user-card">
                <label for="">Olá, bem vindo a sua conta!</label>
            </div>
            <div class="info-user-card">
                <label for="">Pedidos</label>
                <p>Acompanhe o envio</p>
            </div>
            <div class="info-user-card">
                <label for="">Favoritos</label>
                <p>Veja os produtos que favoritou</p>
            </div>
            <div class="info-user-card selected">
                <label for="">Cadastro</label>
                <p>Veja e altere seus dados, email, senha, etc</p>
            </div>
            <div class="info-user-card">
                <label for="">Endereço</label>
                <p>Veja e altere seus endereços</p>
            </div>
        </div>

        <div class="info-user-register">
            <form>
                <label for="">Nome completo:</label>
                <input type="text" placeholder="Cleysonvaldo da Silva">
                <a href="">Alterar</a>

                <label for="">Gênero</label>

                <div class="radio-container">

                    <label class="custom-radio-btn">
                        <!-- <span>Ferminino</span> -->
                        <input type="radio" name="genero" value="feminino">
                        <span></span>
                    </label>

                    <label>Feminino</label>
                    
                    <label class="custom-radio-btn">
                        <!-- <span>Masculino</span> -->
                        <input type="radio" name="genero" value="masculino">
                        <span></span>
                    </label>

                    <label>Masculino</label>
                    
                    <label class="custom-radio-btn">
                        <!-- <span>Outro/Prefiro não informar</span> -->
                        <input type="radio" name="genero" value="outros">
                        <span></span>
                    </label>

                    <label>Outro/Prefiro não informar</label>
                
                  </div>

                <label for="">Data de nascimento:</label>
                <div>
                    <input type="date">
                    <a href="">Alterar</a>
                </div>

                <label for="">CPF ou CNPJ:</label>
                <div>
                    <input type="text" placeholder="1321445235">
                    <a href="">Alterar</a>
                </div>

                <label for="">E-mail:</label>
                <div>
                    <input type="text" placeholder="cleysonvaldo@gmail.com">
                    <a href="">Alterar</a>
                </div>

                <label for="">Telefone:</label>
                <div>
                    <input type="text" placeholder="12344354">
                    <a href="">Alterar</a>
                </div>

                <label for="">Crie uma senha:</label>
                <div>
                    <input type="password" placeholder="*********">
                    <a href="">Alterar</a>
                </div>

                <label for="">Confirme a senha que criou:</label>
                <div>
                    <input type="password" placeholder="*********">
                    <a href="">Alterar</a>
                </div>
                <button type="submit">Salvar Alterações</button>
            </form>
        </div>    
    </div>

    <script src="static/js/script.js"></script>

</body>

