

    <div class="perfil-container">
        <div class="info-user-container">
            <div class="info-user-card">
                <label for="">Olá, bem vindo a sua conta!</label>
            </div>
            <div class="info-user-card">
                <label for="">Pedidos</label>
                <p>Acompanhe o envio</p>
            </div>
            <div class="info-user-card selected">
                <label for="">Favoritos</label>
                <p>Veja os produtos que favoritou</p>
            </div>
            <div class="info-user-card">
                <label for="">Cadastro</label>
                <p>Veja e altere seus dados, email, senha, etc</p>
            </div>
            <div class="info-user-card">
                <label for="">Endereço</label>
                <p>Veja e altere seus endereços</p>
            </div>
        </div>
        <div class="info-user-fav">
            <label for="">Favoritos</label>
            <p>1 Produto</p>
            <div class="info-user-fav-prod">
                <div class="info-user-fav-icon">
                    <div class="info-user-heart-icon"></div>
                </div>
                <p>Nome do Produto</p>
                <p>R$ 36,99</p>
            </div>
        </div>
    </div>
</body>