
    
<body>
    <div class="perfil-container">
        <div class="info-user-container">
            <div class="info-user-card">
                <label>Olá, bem vindo a sua conta!</label>
            </div>
            <div class="info-user-card">
                <label for="">Pedidos</label>
                <p>Acompanhe o envio</p>
            </div>
            <div class="info-user-card">
                <label for="">Favoritos</label>
                <p>Veja os produtos que favoritou</p>
            </div>
            <div class="info-user-card">
                <label for="">Cadastro</label>
                <p>Veja e altere seus dados, email, senha, etc</p>
            </div>
            <div class="info-user-card selected">
                <label for="">Endereço</label>
                <p>Veja e altere seus endereços</p>
            </div>
        </div>
        
        <div class="info-user-address">
            <label for="">Endereços <p>Aqui você pode cadastrar, editar ou excluir seus endereços</p></label>

            <div class="info-user-address-container">

                <div class="info-user-address-card">
                    <div>
                        <label><p>Cleitonvaldo da Silva</p></label>
                            <p class="info-user-address-card-address" style="font-weight: normal;">Av. Endereço do Cidadão que Aqui Compra, 666</p>

                        <p style="margin-top: 3px; font-weight: normal;">Apto 22</p>

                        <div class="radio-container-address-card">
                            <label class="custom-radio-btn-address-card">
                                <input type="radio" name="end-principal" value="endereco-principal">
                                <span></span>
                            </label>
                            <span style="margin-left: 5px; font-size: 12px; font-weight: 600;">Endereço Principal</span>
                        </div>

                        <div class="info-user-address-card-buttons">
                            <button>Editar</button>
                            <button>Excluir</button>
                        </div>
                    </div>
                </div>

                <div class="info-user-address-card">
                    <div>
                        <label><p>Cleitonvaldo da Silva</p></label>
                            <p class="info-user-address-card-address" style="font-weight: normal;">Av. Endereço do Cidadão que Aqui Compra, 666</p>

                        <p style="margin-top: 3px; font-weight: normal;">Apto 22</p>

                        <div class="radio-container-address-card">
                            <label class="custom-radio-btn-address-card">
                                <input type="radio" name="end-principal" value="endereco-principal">
                                <span></span>
                            </label>
                            <span style="margin-left: 5px; font-size: 12px; font-weight: 600;">Endereço Principal</span>
                        </div>

                        <div class="info-user-address-card-buttons">
                            <button>Editar</button>
                            <button>Excluir</button>
                        </div>
                    </div>
                </div>

            <div class="info-user-address-card-new">
                <i class="bi-plus"></i>
            </div>

        </div>

        </div>
    </div>
</body>