{% extends 'core/base_no_foot.html' %}
    
<body>
    <div class="perfil-container">
        <div class="info-user-container">
            <div class="info-user-card">
                <div class="info-user-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                </div>
                <label>Olá, bem vindo a sua conta!</label>
            </div>
            <div class="info-user-card">
                <label for="">Pedidos</label>
                <p>Acompanhe o envio</p>
            </div>
            <div class="info-user-card">
                <label for="">Favoritos</label>
                <p>Veja os produtos que favoritou</p>
            </div>
            <div class="info-user-card">
                <label for="">Cadastro</label>
                <p>Veja e altere seus dados, email, senha, etc</p>
            </div>
            <div class="info-user-card selected">
                <label for="">Endereço</label>
                <p>Veja e altere seus endereços</p>
            </div>
        </div>
        
        <div class="info-user-address">
            <label for="">Endereços <p>Aqui você pode cadastrar, editar ou excluir seus endereços</p></label>

            <div class="info-user-address-container">

                <div class="info-user-address-card">
                    <div>
                        <label><p>Cleitonvaldo da Silva</p></label>
                            <p class="info-user-address-card-address" style="font-weight: normal;">Av. Endereço do Cidadão que Aqui Compra, 666</p>

                        <p style="margin-top: 3px; font-weight: normal;">Apto 22</p>

                        <div class="radio-container-address-card">
                            <label class="custom-radio-btn-address-card">
                                <input type="radio" name="end-principal" value="endereco-principal">
                                <span></span>
                            </label>
                            <span style="margin-left: 5px; font-size: 12px; font-weight: 600;">Endereço Principal</span>
                        </div>

                        <div class="info-user-address-card-buttons">
                            <button>Editar</button>
                            <button>Excluir</button>
                        </div>
                    </div>
                </div>

                <div class="info-user-address-card">
                    <div>
                        <label><p>Cleitonvaldo da Silva</p></label>
                            <p class="info-user-address-card-address" style="font-weight: normal;">Av. Endereço do Cidadão que Aqui Compra, 666</p>

                        <p style="margin-top: 3px; font-weight: normal;">Apto 22</p>

                        <div class="radio-container-address-card">
                            <label class="custom-radio-btn-address-card">
                                <input type="radio" name="end-principal" value="endereco-principal">
                                <span></span>
                            </label>
                            <span style="margin-left: 5px; font-size: 12px; font-weight: 600;">Endereço Principal</span>
                        </div>

                        <div class="info-user-address-card-buttons">
                            <button>Editar</button>
                            <button>Excluir</button>
                        </div>
                    </div>
                </div>

            <div class="info-user-address-card-new">
                <i class="bi-plus"></i>
            </div>

        </div>

        </div>
    </div>
</body>