<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiberAction</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="header-alt">
        <img src="../static/images/logo.png" alt="">
    </div>

    <div class="container-form">
        <div class="container-form">
            <div class="cadastro-box">
                <h2>Quero me cadastrar</h2>
                <div class="single-input">
                    <input type="text" class="input" id="nome" required>
                    <label for="nome">Nome completo</label>
                </div>
                <div class="single-input">
                    <div class="check"></div>Ferminino
                    <div class="check"></div>Masculino
                    <div class="check"></div>Outro/Prefiro não informar
                </div>
                <div class="single-input">
                    <input type="date" class="input" id="dt_nasc" required>
                    <!-- <label for="dt_nasc">Data de nascimento</label> -->
                </div>
                <div class="single-input">
                    <input type="text" class="input" id="cpf" required>
                    <label for="cpf">CPF ou CNPJ</label>
                </div>
                <div class="single-input">
                    <input type="text" class="input" id="email" required>
                    <label for="email">E-mail</label>
                </div>
                <div class="single-input">
                    <input type="text" class="input" id="telefone" required>
                    <label for="telefone">Telefone</label>
                </div>
                <div class="single-input">
                    <input type="text" class="input" id="senha" required>
                    <label for="senha">Crie uma senha</label>
                </div>
                <div class="single-input">
                    <input type="text" class="input" id="confirmacao_senha" required>
                    <label for="corfirmacao_senha">Confirme sua senha</label>
                </div>
                
                <button>Continuar</button>
                <h6>Não se preocupe, nossa plataforma é 100% segura.<br> Ao cadastrar, você concorda com a nossa
                    <a href="">política de privacidade</a>
                </h6> 
                <p>Já tem cadastro? <a href="login.html">Entrar</a></p>
    </div>
</body>
</html>

<script>

    // Criar validação para garantir que somente uma opção foi selecionada

    let checkGender = document.querySelectorAll('.check');
    
    checkGender[0].addEventListener('click', () => {
        checkGender[0].classList.toggle('active')  
    })
    checkGender[1].addEventListener('click', () => {
        checkGender[1].classList.toggle('active')   
    })
    checkGender[2].addEventListener('click', () => {
        checkGender[2].classList.toggle('active')   
    })

</script>