<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiberAction</title>
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header-alt">
        <img src="logo.png" alt="">
    </div>

    <div class="container-form">
        <div class="container-form">
            <div class="cadastro-box">
                <h2>Fale um pouco sobre o serviço que quer anunciar =D </h2>
                <div class="description-input">
                    <ul>
                        <li><a href="#">Saúde</a></li>
                        <li><a href="#">Tecnologia/Programação</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Design</a></li>    
                        <li><a href="#">Educação</a></li>
                        <li><a href="#">Limpeza</a></li>
                        <li><a href="#">Outros</a></li>                                  
                    </ul>
                </div>
                <div class="single-input">
                    <input type="text" class="input" id="nome" required>
                    <label for="nome">Nome completo</label>
                </div>
                <div class="single-input">
                    <input type="number" class="number-input" id="valor" required>
                    <label for="valor">Preço</label>
                    <div class="check"></div>Valor a negociar
                </div>
                <div class="single-input">
                    <input type="text" class="description-input" id="description" required>
                    <label for="description">Descrição do serviço</label>
                </div>
                
                <button>Anunciar Agora!</button>

            </div>
        </div>
    </div>
</body>
</html>

<script>

    let checkGender = document.querySelectorAll('.check');
    

    checkGender[0].addEventListener('click', () => {
        checkGender[0].classList.toggle('active')  
    })
    checkGender[1].addEventListener('click', () => {
        checkGender[1].classList.toggle('active')   
    })
    checkGender[2].addEventListener('click', () => {
        checkGender[2].classList.toggle('active')   
    })

</script>
