* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #f9f9f9;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


/****************************************************************/
/*                          Header                              */
/****************************************************************/                                                                                                                                                       
.header {
    background-color: #ffad17;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container1 {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
}

.header .navbar .container1 div h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.header .navbar .container1 div h3 span {
    font-weight: 100;
    font-size: 14px;
}

.header .navbar .container1 a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.header .navbar .container1 img {
    /* height: 100%; */
    width: 13%;
}

.icons {
    display: flex;
    width: 15%;
    justify-content: space-around;
}

.header .navbar .container1 div img {
    height: 15%;
    width: 15%;
}

.header .navbar .container1 input {
    border: 10px solid transparent;
    padding: 5px;
    width: 35%;
    border-radius: 5px;
    outline: none;
    background-image: url(https://cdn-icons-png.flaticon.com/512/126/126474.png);
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: right;
}

.header .navbar .container2 input {
    border: 10px solid transparent;
    padding: 10px;
    width: 35%;
    border-radius: 0px;
    outline: none;
    color: #ffad17;
}

/****************************************************************/
/*                  Header Login e Cadastro                     */
/****************************************************************/
.header-alt {
    background-color: #ffad17;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 20px 35px;
}

.header-alt img {
    width: 13%;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.login-box {
    background-color: #fff;
    width: 450px;
    height: 450px;
    border-radius: 15px;
    position: absolute;
    top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container-form h2 {
    font-size: 25px;
    margin-bottom: 35px;
}

.description-input{
    position: relative;
    margin: 0px 0;
    display: flex;
    width: 300px;
    height: 285px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: 0;
    font-size: 16px;
    color: rgb(80,80,80);
    transition: 0.5s ease-in-out;  
}

.description-input label {
    position: absolute;
    bottom: 100px;
    left: 5px;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.description-input label {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.description-input:focus, .description-input:valid {
    border: 2px solid #ffad17;
}
.description-input:focus ~ label, .description-input:valid ~ label {
    transform: translateY(-245px);
    font-size: 12px;
    color: black;
}

.description-input ul{
    list-style-type:none;
    padding: 0;
}

.description-input ul li{
    background-color: var(#ffad17);
}

.description-input ul li a{
    color: #000;
    padding: 5px;
    display: inline-block;
}

.description-input ul li a:hover {
    color: #ffad17;
    display: block;
}

.number-input{
    position: relative;
    margin: -10px 0;
    display: flex;
    width: 80px;
    height: 40px;
    margin-right: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: 0;
    font-size: 16px;
    color: rgb(80,80,80);
    transition: 0.5s ease-in-out;
}

.number-input label {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.number-input:focus, .number-input:valid {
    border: 2px solid #ffad17;
}
.number-input:focus ~ label, .number-input:valid ~ label {
    transform: translateY(-20px);
    font-size: 12px;
    color: black;
}

.single-input {
    position: relative;
    margin: 15px 0;
    display: flex;
}
.single-input label {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.description-input {
    position: relative;
    margin: 15px 0;
    display: flex;
}

.description-input label {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.input {
    width: 300px;
    height: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: 0;
    font-size: 16px;
    color: rgb(80,80,80);
    transition: 0.5s ease-in-out;
}

.input:focus, .input:valid {
    border: 2px solid #ffad17;
}
.input:focus ~ label, .input:valid ~ label {
    transform: translateY(-30px);
    font-size: 12px;
    color: black;
}

.container-form button {
    border: none;
    border-radius: 5px;
    outline: none;
    height: 40px;
    width: 300px;
    background-color: #ffad17;
    cursor: pointer;
}

.container-form p {
    margin: 5px;
}

.container-form a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.container-form h6 {
    font-weight: 600;
    margin: 5px;
}

.cadastro-box {
    background-color: #fff;
    width: 450px;
    height: 830px;
    border-radius: 15px;
    position: absolute;
    top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.check {
    border-radius: 20px;
    border: 1px solid #000;
    height: 20px;
    width: 15px;
    margin: 0 5px 0 5px;
    width: 30px;
    cursor: pointer;
    transition: ease-in .5s;
}

.check.active {
    background-color: #ffad17;
    border: none;
    transition: ease-out .5s;
}

/****************************************************************/
/*                      Body Carrinho                           */
/****************************************************************/
.container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 150px);
}

.cart-box {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.cart-items {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0 0 55px;
}

.cart-items h2 {
    margin: 0 10px 0 10px;
    /* position: relative; */
}

.cart-items button {
    border: none;
    border-radius: 5px;
    outline: none;
    height: 50px;
    width: 200px;
    background-color: #ffad17;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.cart-header {
    display: flex;
}

.cart {
    color: #ffad17;
    font-weight: 500;
}

.cart, .cart-selected {
    cursor: pointer;
}

.cart.selected {
    position: relative;
    color: black;
}

.cart.selected::after {
    content: '';
    background: #ffad17;
    width: 120px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.cart-info {
    height: 50%;
    display: flex;
    align-items: center;
    margin: 20px;
    position: relative;
}

.cart-img {
    height: 60px;
    width: 60px;
    background-color: #fcf9dd;
    margin: 10px;
    border-radius: 15px;
}

.cart-info a {
    text-decoration: none;
    color: #ffad17;
}

.cart-info h5 {
    font-weight: 500;
}

.cart-choice {
    display: flex;
    justify-content: space-around;
    width: 350px;
    height: 80px;
    position: relative;
}

.cart-choice a {
    text-decoration: none;
    color: #ffad17;  
}

.cart-choice::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 850px;
    height: 3px;
    background-color: #f9f9f9;

}

.cart-local {
    width: 300px;
}

.cart-local select {
    color: #ffad17;
    outline: none;
    border: none;
    font-size: 16px;
}

.cart-freight {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin: 20px;    
}

.cart-freight h4, .cart-freight p {
    font-weight: bold;
    color: black;
}

.cart-finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
}

/****************************************************************/
/*                    Menu Configurations                       */
/****************************************************************/
.menu-container {
    width: 100%;
    height: 20%;
    flex: 1;
    text-align: right;
    background-color: #ffad17;
}

.menu-container li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    line-height: 40px;
    position: relative;
}

.menu-container li ul {
    list-style: inside;
    display: block;
    position: absolute;   
}
.menu-container li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e1e1e;
    padding: 22 14px;
    font-weight: 500;
}

.menu-container li a:hover{
    color: #fcf9dd;
    display: block;
}

/****************************************************************/
/*                     Banner Configurations                    */
/****************************************************************/
.banner {
    display: flex;
    align-self: center; 
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 75vh;
    background-color: #fcf9dd;
    align-self: center;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    transition: opacity 2000ms;
}

.banner img.selected {
    opacity: 1;
}

.banner div img {
    position: absolute;
    height: 10%;
    width: 10%;
} 

.control {
    position: absolute;
    top: 70vh;
    bottom: 0;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.control div {
    background-color: transparent;
    height: 70%;
    width: 14px;
    border: 2px solid #000;
    border-radius: 12px;
    margin: 5px;
    cursor: pointer;
}

.control div.selected {
    background-color: #000;
    transition: ease-out 1s;
}

/****************************************************************/
/*               Catalog of Products and Services               */
/****************************************************************/
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ffad17;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;    
}
    
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.categories {
    margin: 70px 0;
}  

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}


h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #3483FA;;
}
.col-4:hover {
    transform: translateY(-5px);
}

/****************************************************************/
/*                  Follow Us on Social Media                   */
/****************************************************************/

.follow-us{
    background: #ffad17;
    height: 2px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-us h3{
    color: #fff;
    text-align: right;
    font-weight: 400;
}

.follow-us h3 span {
    font-weight: bolder;
}

.follow-us img {
    cursor: pointer;
    margin: 4px;
    height: 25px;
}

.container-follow {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Most Requested */

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.col-3 img {
    width: 100%;
}

.col-3:hover {
    transform: translateY(-5px);
}

/****************************************************************/
/*                          Newsletter                          */
/****************************************************************/
.newsletter{
    background: #ffad17;
    height: 270px;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-newsletter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 55%;
    padding: 50px 150px;
    margin: 0;
}

.container-newsletter p {
    color: white;
}

.container-newsletter span {
    font-size: 40px;
    font-weight: bold;
}

.container-newsletter h6 {
    margin-top: 10px;
    color: white;
}

.container-cadastro {
    background-color: white;
    height: 85%;
    width: 50%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-cadastro input {
    background-color: #fcf9dd;
    outline: none;
    border: none;
    font-weight: 600;
    margin: 10px;
    width: 50%;
    height: 30%;
    padding: 8px;
}

.container-cadastro button {
    background-color: #ffad17;
    border: none;
    width: 40%;
    height: 30%;
    color: white;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

/****************************************************************/
/*                         Profile Page                         */
/****************************************************************/
.perfil-container {
    background-color: #f9f9f9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.info-user-container {
    width: 300px;
    margin: 120px 70px;
}

.info-user-container a {
    text-decoration: none;
    color: #000;
}

.info-user-card {
    background-color: #fff;
    height: 60px;
    width: 220px;
    margin: 20px 5px;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.info-user-card p {
    font-size: 12px;
}

.info-user-card label {
    font-weight: bolder;
    font-size: 20px;
}

.info-user-card.selected {
    border-left: 10px solid #ecab39;
}

#metrics_btn, #about_btn {
    cursor: pointer;
}

.info-user-request {
    background-color: #f9f9f9;
    width: 500px;
    height: 500px;
    margin: 120px 70px;
    display: flex;
    flex-direction: column;
}

.info-request-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    height: 150px;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
}

.info-request-card.positive {
    border-left: 5px solid #2b961f;
}

.info-request-response label.positive {
    color: #2b961f;
}

.info-request-card.negative {
    border-left: 5px solid #c40000;
}

.info-request-response label.negative {
    color: #c40000;
}

.info-request-response {
    margin: 10px;
}

.info-request-details {
    display: flex;
    margin: 10px;
}

.info-request-icon {
    height: 70px;
    width: 70px;
    background-color: #000;
    border-radius: 5px;
}

.info-request-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: 600;
}

.info-user-fav {
    background-color: #f9f9f9;
    width: 500px;
    height: 500px;
    margin: 120px 70px;
    display: flex;
    flex-direction: column;
}

.info-user-fav label {
    position: relative;
    font-size: 20px;
}

.info-user-fav label::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 530px;
    height: 1px;
    background-color: #8a8a8a;
}

.info-user-fav p {
    margin: 15px 0;
    font-size: 12px;
    font-weight: 600;
}

.info-user-fav-icon {
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 5px;
    margin: 30px 0 0 0;
    position: relative;
}

.info-user-heart-icon {
    background: url('https://cdn-icons-png.flaticon.com/512/833/833472.png');
    background-size: cover;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
}

.info-user-register {
    width: 380px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 120px 70px;
}

.info-user-register label {
    font-size: 12px;
    font-weight: 600;
    margin: 0 5px;
}

.info-user-register input {
    background-color: #e2e1e1;
    border: none;
    outline: none;
    border-radius: 5px;
    /* height: 80px; */
    width: 300px;
    padding: 15px;
    margin: 5px 0 10px 0;
}

.info-user-register input::placeholder {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.info-user-register a {
    color: #000;
    margin: 0 5px;
    font-size: 13px;
}

.info-user-register button {
    border-radius: 5px;
    padding: 15px;
    background-color: #ecab39;
    border: none;
    outline: none;
    width: 250px;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    margin: 20px 0;
}

.info-user-address {
    margin: 120px 70px;
}

.info-user-address label {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    position: relative;
}

.info-user-address p {
    font-size: 12px;
    font-weight: 600;
}

.info-user-address label::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 530px;
    height: 1px;
    background-color: #8a8a8a;
}

.info-user-address-registered {
    margin: 50px 0;
}

.info-address-card {
    border-radius: 10px;
    background-color: #fff;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.info-address-choices {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

/****************************************************************/
/*                 Products and Service Page                    */
/****************************************************************/
.choice-container{
    position: relative;
    display: block;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center; 
    background: image();
    background-color: #fff;
    background-size: cover;
    position: relative;
       
}

.choice-background h1{
    display: block;
    position: relative;
    font-size: 300%;
}

.choice-container img{
    width: 300px;
    height: 350px;
    object-fit: contain;
    display: block;
    object-fit: cover;


}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2000ms;
}

/****************************************************************/
/*                          Footer                              */
/****************************************************************/

.footer {
    background: #ffad17;
    color:#000000;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color:#8a8a8a;
}

.footer h3 {
    color: #000;
    margin-bottom: 20px;
}

.footer-title {
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #555;
}

.footer-title::after {
    content: '';
    background: #000000;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis:30%;
}
.footer-col-2 {
    flex:1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

.footer-col-4 img {
    cursor: pointer;
    margin: 4px;
    height: 25px;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #000000;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

/****************************************************************/
/*                 Responsive Configurations                    */
/****************************************************************/
.mobile-menu div {
    width: 32px;
    height: 4px;
    background: #fff;
    margin: 5px;
    transition: 0.6s;
    border-radius: 20px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

#search-text {
    display: none;
}

@media (max-width: 999px) {

    .header .navbar .container1 img {
        width: 50%;
    }

    .header .navbar .container1 div h3 {
        display: none;
    }

    .navbar {
        flex-direction: row;
    }
    .icons {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .header .navbar .container1 input {
        display: none;
    }

    .menu-container {
        visibility: hidden;
        transition: step-start;
        overflow-y: hidden;
        height: 0;
        width: 0;
    }

/****************************************************************/
/*                      Responsive Navbar                       */
/****************************************************************/
    .container-follow {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

    .newsletter{
        background: #ffad17;
        height: 470px;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container-newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        padding: 10px 30px;
        margin: 10px;
    }
    
    .container-newsletter p {
        color: white;
    }
    
    .container-newsletter span {
        font-size: 35px;
        font-weight: bold;
    }
    
    .container-newsletter h6 {
        margin-top: 10px;
        color: white;
    }
    
    .container-cadastro {
        width: 80%;
        border-radius: 20px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-cadastro input {
        background-color: #fcf9dd;
        outline: none;
        border: none;
        font-weight: 600;
        margin: 10px;
        width: 85%;
        height: 30%;
        padding: 8px;
    }
    
    .container-cadastro button {
        background-color: #ffad17;
        border: none;
        width: 85%;
        height: 30%;
        color: white;
        margin: 10px;
        padding: 10px;
        cursor: pointer;
    }

    .menu-container.active {
        position: fixed;
        width: 100%;
        top: 120px;
        right: 0;
        height: calc(100vh - 120px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        visibility: visible;
        transition: .5s;   
    }

    .mobile-search {
        position: relative;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border-radius: 60px;
        box-shadow: 5px 3px 2px 5px #ecab39;
        transition: ease-in .2s;
        overflow: hidden;
    }

    .mobile-search.active {
        width: 340px;
    }

    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 300px;
        height: 60px;
    }

    .mobile-search.active #search-text {
        display: block;
        height: 100%;
        width: 60%;
        outline: none;
        border: none;
        font-size: 18px;
        background: none;

    }

    .clear {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        right: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clear::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 15px;
        background: #999;
        transform: rotate(45deg);
    }

    .clear::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 15px;
        background: #999;
        transform: rotate(315deg);
    }

    .mobile-search .search-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        cursor: pointer;
    }

    .mobile-search .search-icon::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 3px solid #ffad17;
        border-radius: 50%;
        transform: translate(-4px, -4px);
    }

    .mobile-search .search-icon::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 12px;
        background-color: #ffad17;
        transform: translate(6px, 6px) rotate(315deg);
    }

    .mobile-search.active {
        opacity: 1;
        transition: ease-in .5s;
    }

    .banner.inactive {
        display: none;
    }

    .content.active {
        position: fixed;
        top: 1050px;
    }
    
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-4px, -4px);
    }

    .mobile-menu.inactive {
        opacity: 0;
        transition: ease-out 0.2;
    }
}

.choice-background {
    display: flex;
    align-self: center; 
    align-items: center;
    padding-top: 25%;
    /* justify-content: center; */
    background: linear-gradient(
    to bottom,
    #fcf9dd 0%,
    #fcf9dd 50%,
    #f9f9f9 50%,
    #f9f9f9 100%);
    align-self: center;
    position: relative;
}

.background-adjust{
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    padding-bottom: 25%;
    padding-left: 30%;

}

.background-adjust h1{
    margin-right: 60px;
    margin-left: 60px;
    color: #ffad17;
    font-size: 330%;
}

/****************************************************************/
/*                              EOF                             */
/****************************************************************/
