<!DOCTYPE html>
<html lang="ptbr">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiberAction</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
    
<body>
    <!-- Site Header -->
    <div class="header">
        <div class="navbar">
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>    
            <div class="container1">
                <img src="logo.png">
                <input type="text" placeholder="Buscar produto, serviço e muito mais!">
                
                <div>
                    <h3>Bem vindo!
                        <span><a href="login.html">Entre</a> ou <a href="cadastro.html">Cadastre-se</a></span>
                    </h3>
                </div>
                <div class="icons">
                    <img src="https://cdn-icons-png.flaticon.com/512/2/2267.png" alt="">
                    <img src="https://cdn-icons-png.flaticon.com/512/126/126510.png" alt="">
                    
                </div>
                <div class="mobile-search">
                    <div class="search-icon"></div>
                    <div class="search-input">
                        <input id="search-text" type="text" placeholder="Search">
                    </div>
                    <span class="clear"></span>
                </div>
                
            </div>    
        </div>
        <ul class="menu-container">
            <li><a href="#">Categorias</a></li> 
            <li><a href="#">Ofertas do dia</a></li>
            <li><a href="#">Aulas particulares</a></li>
            <li><a href="#">Moda Ancap</a></li>
            <li><a href="#">Anuncie Conosco</a></li>
        </ul>
    </div>

    <div class="perfil-container">
        <div class="info-user-container">
            <div class="info-user-card">
                <label for="">Olá, bem vindo a sua conta!</label>
            </div>
            <div class="info-user-card">
                <label for="">Pedidos</label>
                <p>Acompanhe o envio</p>
            </div>
            <div class="info-user-card">
                <label for="">Favoritos</label>
                <p>Veja os produtos que favoritou</p>
            </div>
            <div class="info-user-card selected">
                <label for="">Cadastro</label>
                <p>Veja e altere seus dados, email, senha, etc</p>
            </div>
            <div class="info-user-card">
                <label for="">Endereço</label>
                <p>Veja e altere seus endereços</p>
            </div>
        </div>

        <div class="info-user-register">
            <label for="">Nome completo:</label>
            <div>
                <input type="text" placeholder="Cleysonvaldo da Silva">
                <a href="">Alterar</a>
            </div>

            <label for="">Gênero</label>
            <div class="single-input">
                <div class="check"></div>Ferminino
                <div class="check"></div>Masculino
                <div class="check"></div>Outro/Prefiro não informar
            </div>

            <label for="">Data de nascimento:</label>
            <div>
                <input type="text" placeholder="12/12/1990">
                <a href="">Alterar</a>
            </div>

            <label for="">CPF ou CNPJ:</label>
            <div>
                <input type="text" placeholder="1321445235">
                <a href="">Alterar</a>
            </div>

            <label for="">E-mail:</label>
            <div>
                <input type="text" placeholder="cleysonvaldo@gmail.com">
                <a href="">Alterar</a>
            </div>

            <label for="">Telefone:</label>
            <div>
                <input type="text" placeholder="12344354">
                <a href="">Alterar</a>
            </div>

            <label for="">Crie uma senha:</label>
            <div>
                <input type="text" placeholder="*********">
                <a href="">Alterar</a>
            </div>

            <label for="">Confirme a senha que criou:</label>
            <div>
                <input type="text" placeholder="*********">
                <a href="">Alterar</a>
            </div>
            <button>Salvar alterações</button>
        </div>    
    </div>
</body>

<script>
    let checkGender = document.querySelectorAll('.check');
    

    checkGender[0].addEventListener('click', () => {
        checkGender[0].classList.toggle('active')  
    })
    checkGender[1].addEventListener('click', () => {
        checkGender[1].classList.toggle('active')   
    })
    checkGender[2].addEventListener('click', () => {
        checkGender[2].classList.toggle('active')   
    })

</script>
